* {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #747474;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #3b3b3b;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-bottom: 35px;
  font-size: 30px;
}

h4 {
  font-size: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #747474;
}

a {
  transition: all 0.2s ease 0s;
}

.icon {
  margin-right: 8px;
  margin-top: -5px;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.horizontal-separator {
  height: 1px;
  background-color: #e0e0e0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-form {
  position: fixed;
  top: 175px;
  left: 0;
  right: 0;
  z-index: 0;
}

.banner {
  height: 400px;
  background: url(../images/bg-top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 70px;
}

.logo {
  height: 25px;
  width: 92px;
  background: url(../images/logo.png);
  background-position: center center;
  display: inline-block;
}

.nav-primary {
  float: right;
}

.nav-primary li {
  margin-left: 3px;
}

.nav-primary li a {
  padding: 7px 20px !important;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.nav-primary li.menu-item-11 {
  margin-left: 20px;
}

.nav-primary li.menu-item-11 a {
  padding: 7px 27px !important;
  border: 1px solid #ff5800;
  border-radius: 4px;
}

.menu-fixo {
  visibility: hidden;
  transition: all 0.2s ease 0s;
  top: -77px;
  z-index: 9999;
  padding-top: 23px;
  padding-bottom: 26px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.1);
}

.menu-fixo .logo {
  height: 25px;
  width: 92px;
  background: url(../images/logo2.png);
  background-position: center center;
  display: inline-block;
}

.menu-fixo .nav-primary li a {
  color: #3b3b3b;
  text-decoration: none;
}

.nav-primary li a:hover {
  color: #ff5800;
}

.nav-primary li.menu-item-11 a:hover {
  background-color: #ff5800;
  color: #fff;
}

.top-title {
  margin-top: 120px;
  color: #fff;
  font-size: 50px;
}

.secao {
  padding-top: 85px;
  padding-bottom: 85px;
}

.secao1 .image-box {
  text-align: center;
  float: left;
  width: 145px;
}

.secao1 .image-box img {
  margin-bottom: 16px;
}

.secao1 .image-box h3 {
  font-size: 20px;
  font-weight: 700;
}

.secao1 .separator {
  margin-left: 20px;
  margin-right: 20px;
  height: 91px;
  width: 1px;
  background-color: #e0e0e0;
  float: left;
}

ul.onde-estamos {
  float: left;
  margin-right: 70px;
  padding: 0;
}

ul.onde-estamos li {
  font-size: 14px;
  margin-bottom: 10px;
  list-style: none;
  margin-left: 0;
}

.secao2 {
  background-color: #222;
}

.secao2 h2 {
  color: #ff5800;
}

.secao2 p {
  color: #fff;
}

.secao2 .carousel {
  margin-top: 20px;
}

.secao2 .carousel .carousel-control-prev {
  left: -80px;
}

.secao2 .carousel .carousel-control-next {
  right: -80px;
}

.secao2 .carousel .carousel-control-next-icon {
  background-image: url(../images/next.png);
  width: 23px;
  height: 47px;
}

.secao2 .carousel .carousel-inner {
  border-radius: 4px;
}

.secao2 .carousel .carousel-indicators {
  bottom: -65px;
}

.secao2 .carousel .carousel-indicators li {
  background-color: #747474;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 8px;
  margin-left: 8px;
}

.secao2 .carousel .carousel-indicators li.active {
  background-color: #ff5800;
}

.secao2 .carousel .carousel-control-prev-icon {
  background-image: url(../images/prev.png);
  width: 23px;
  height: 47px;
}

.form-box {
  background-color: #f4f5f8;
  border-radius: 10px;
}

.wpcf7 {
  width: 100%;
}

.form-box .wpcf7-form {
  padding: 20px 36px 31px 36px;
}

.form-box .box-title {
  padding: 29px 36px 20px 36px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.form-box .box-title h2 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.form-box .wpcf7-form .ajax-loader {
  display: none;
}

.form-box .wpcf7-form label {
  display: inline;
  font-size: 14px;
  color: #3b3b3b;
}

.form-box .wpcf7-form input,
.form-box .wpcf7-form select {
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 7px 10px;
  line-height: initial;
  color: #747474;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  border-bottom: 5px solid #e0e0e0;
}

.form-box .wpcf7-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/select.png) no-repeat #fff;
  background-position: 95% center;
}

.form-box .wpcf7-form input[type=submit] {
  background-color: #ff5800;
  border-bottom: 5px solid #c64400;
  color: #fff;
  margin-top: 15px;
}

.form-box .wpcf7-form input[type=submit]:hover {
  background-color: #c64400;
  border-bottom: 5px solid #ff5800;
  color: #fff;
}

.form-box .wpcf7-form input[type=submit]:focus {
  background-color: #a43800;
  border-bottom: 5px solid #ff5800;
  color: #fff;
}

.form-box .wpcf7-form input:focus,
.form-box .wpcf7-form select:focus {
  border-bottom: 5px solid #ff5800;
  color: #ff5800;
}

.rodape {
  border-top: 1px solid #e0e0e0;
  background-color: #f4f5f8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rodape span {
  color: #747474 !important;
  font-size: 12px !important;
}

.botao-numero {
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 7px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ff5800;
  border-bottom: 5px solid #c64400;
  color: #fff !important;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  text-align: center;
}

.botao-numero:hover {
  background-color: #c64400;
  border-bottom: 5px solid #ff5800;
  color: #fff;
}

@media (max-width: 767.98px) {
  .rodape {
    text-align: center;
  }

  .redes-sociais {
    text-align: center;
  }

  ul.onde-estamos {
    margin-right: 4%;
    margin-left: 4%;
  }

  .rodape-box {
    margin-top: 40px;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .secao {
    padding-top: 65;
    padding-bottom: 65;
  }

  .image-box {
    margin-bottom: 25px;
    display: inline-block;
    text-align: center;
    width: 100% !important;
  }
}
